.article {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    max-width: 1000px;
    margin-bottom: 50px;
}

.article__header {
    font-size: 25px;
    margin-top: 40px;
    border-bottom: 4px double gray;
    max-width: 200px;
}

.article__paragraphHeader {
    font-size: 20px;
    margin-bottom: -15px;
    border-bottom: 2px solid grey;
    max-width: 170px;
}

.article__list {
    list-style-type: square;
}