.button {
    border: none;
    border-radius: 50%;
    background-color: hsla(0, 0%, 86%, 0);
    font-family: 'Lato', sans-serif;
    cursor: pointer;

}

.button__icon {
    max-width: 35px;
    box-shadow: 0px 0px 20px 5px hsl(0, 0%, 5%);
    border-radius: 50%;
}

.button__icon--dark {
    box-shadow: 0px 0px 20px 5px hsl(0, 3%, 72%);
}

.button__icon:hover {
    max-width: 36px;
}

.button__icon--dark:hover {
    max-width: 36px;
}
